<%- include('./header.ejs') %>
    <%- include('./sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">

                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">New Course</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Security</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->


                <div class="container-fluid">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">course Details</h3>
                            <% if(msg.length>0){%>
                                <div class="alert alert-danger text-center">
                                    <%= msg %>
                                </div>
                                <%}%>

                                    <% if(msg1.length>0){%>
                                        <div class="alert alert-success text-center">
                                            <%= msg1 %>
                                        </div>
                                        <%}%>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <form action="/admin/addNewCourse" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="">Course Title</label>
                                        <input type="text" name="courseName" placeholder="web Devlopment"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Image</label>
                                        <input type="file" name="courseImage" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Overview</label>
                                        <input type="text" name="courseOverview"
                                            placeholder="Overview of Course in 50 words" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Requirment</label>
                                        <input type="text" name="courseRequirement"
                                            placeholder="Requirment of Course in 50 words" class="form-control"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Curriculum</label>
                                        <input type="text" name="courseCurriculum"
                                            placeholder="Curriculum of Course in 50 words" class="form-control"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Prize</label>
                                        <input type="text" name="coursePrize" placeholder="399" class="form-control"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">No. of Lessons</label>
                                        <input type="number" name="numOfLesson" placeholder="45" class="form-control"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Duration</label>
                                        <input type="text" name="courseDuration" placeholder="38h,45min"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Level</label>
                                        <select name="courseLevel" class="form-control form-select" required>
                                            <option value="">Select</option>
                                            <option value="Beginner">Beginner
                                            </option>
                                            <option value="Entery
                                            level">Entery
                                                level</option>
                                            <option value="Advance">Advance
                                            </option>
                                        </select>
                                    </div>
                                    <h2>About Teacher</h2>
                                    <div class="mb-3">
                                        <label for="">Teacher Name</label>
                                        <input type="text" name="teacherName" placeholder="Vikas Jain"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher Designation</label>
                                        <input type="text" name="teacherDesignation" placeholder="Sr. Python Developer"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher About</label>
                                        <input type="text" name="teacherAbout"
                                            placeholder="Brief introduction in 50 words" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher Image</label>
                                        <input type="file" name="teacherImage" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Experience Years</label>
                                        <input type="text" name="expYear" placeholder="2" class="form-control" required>
                                    </div>
                                    <h2>What will learn after this course</h2>
                                    <!-- What will you learn after this course -->
                                    <div class="mb-3">
                                        <label for="">Point 1</label>
                                        <input type="text" name="whatYouWillLearn1" placeholder="Python Basics"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Point 1</label>
                                        <input type="text" name="whatYouWillLearn2" placeholder="Data Structures"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Point 3</label>
                                        <input type="text" name="whatYouWillLearn3" placeholder="Functions and Modules"
                                            class="form-control" required>
                                    </div>

                                    <button type="submit" class="btn btn-success text-white">Add Course</button>
                                </form>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div><!-- /.container -->
            </div>
            <!-- /.content-header -->


        </div>
        <!-- /.content-wrapper -->

        <%- include('./footer.ejs') %>