<%- include('./header.ejs') %>
    <%- include('./sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">

                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">New Lecture</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Security</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->


                <div class="container-fluid">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lectures Details</h3>
                            <% if(msg.length>0){%>
                                <div class="alert alert-danger text-center">
                                    <%= msg %>
                                </div>
                                <%}%>

                                    <% if(msg1.length>0){%>
                                        <div class="alert alert-success text-center">
                                            <%= msg1 %>
                                        </div>
                                        <%}%>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <form action="/admin/addNewLecture" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="">Lecture Title</label>
                                        <input type="text" name="lectureTitle" placeholder="Introduction"
                                            class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Lecture Video</label>
                                        <input type="file" name="lectureVideo" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <div
                                                class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" name="lectureIsFree" class="custom-control-input"
                                                    id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3">Is Free</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success text-white">Add Lecture</button>
                                </form>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div><!-- /.container -->
            </div>
            <!-- /.content-header -->


        </div>
        <!-- /.content-wrapper -->

        <%- include('./footer.ejs') %>