<%- include('./header.ejs') %>
    <%- include('./sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">

                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Course Edit</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Course</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->


                <div class="container-fluid">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <form action="/admin/update_Course/<%= c.id %>" method="post"
                                    enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="">Course Title</label>
                                        <input type="text" value="<%= c.courseName %>" name="courseName"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Image</label>
                                        <input type="file" value="<%= c.courseImage %>" name="courseImage"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Overview</label>
                                        <input type="text" value="<%= c.courseOverview %>" name="courseOverview"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Requirment</label>
                                        <input type="text" value="<%= c.courseRequirement %>" name="courseRequirement"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Curriculum</label>
                                        <input type="text" value="<%= c.courseCurriculum %>" name="courseCurriculum"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Prize</label>
                                        <input type="text" value="<%= c.coursePrize %>" name="coursePrize"
                                            placeholder="399" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">No. of Lessons</label>
                                        <input type="number" value="<%= c.numOfLesson %>" name="numOfLesson"
                                            placeholder="45" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Duration</label>
                                        <input type="text" value="<%= c.courseDuration %>" name="courseDuration"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Course Level</label>
                                        <select name="courseLevel" class="form-control form-select">
                                            <option value="">Select</option>
                                            <option value="Beginner" <%=c.courseLevel=='Beginner' ?'selected':'' %>
                                                >Beginner
                                            </option>
                                            <option value="Entery level" <%=c.courseLevel=='Entery level' ?'selected':''
                                                %>
                                                >Entery
                                                level</option>
                                            <option value="Advance" <%=c.courseLevel=='Advance' ?'selected':'' %>
                                                >Advance
                                            </option>
                                        </select>
                                    </div>
                                    <h2>About Teacher</h2>
                                    <div class="mb-3">
                                        <label for="">Teacher Name</label>
                                        <input type="text" value="<%= c.teacherName %>" name="teacherName"
                                            placeholder="Vikas Jain" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher Designation</label>
                                        <input type="text" value="<%= c.teacherDesignation %>" name="teacherDesignation"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher About</label>
                                        <input type="text" value="<%= c.teacherAbout %>" name="teacherAbout"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Teacher Image</label>
                                        <input type="file" value="<%= c.teacherImage %>" name="teacherImage"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Experience Years</label>
                                        <input type="text" value="<%= c.expYear %>" name="expYear" class="form-control">
                                    </div>
                                    <h2>What will learn after this course</h2>
                                    <!-- What will you learn after this course -->
                                    <div class="mb-3">
                                        <label for="">Point 1</label>
                                        <input type="text" value="<%= c.whatYouWillLearn1 %>" name="whatYouWillLearn1"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Point 1</label>
                                        <input type="text" value="<%= c.whatYouWillLearn2 %>" name="whatYouWillLearn2"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Point 3</label>
                                        <input type="text" value="<%= c.whatYouWillLearn3 %>" name="whatYouWillLearn3"
                                            class="form-control">
                                    </div>



                                    <button type="submit" class="btn btn-success text-white">Update</button>
                                </form>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div><!-- /.container -->
            </div>
            <!-- /.content-header -->


        </div>
        <!-- /.content-wrapper -->

        <%- include('./footer.ejs') %>